In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\divya\Statistics\chapter10_assets\chapter10_assets\3_z_test_housing_inflation\house_price_increase.csv")

In [3]:
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [4]:
df.shape

(100, 2)

In [6]:
population_std_dev = 4
population_mean = 10

In [8]:
sample_mean = df.price_increase_pct.mean()
sample_mean

11.0

In [9]:
standard_error = population_std_dev / np.sqrt(df.shape[0])
standard_error

0.4

In [10]:
z_score = (sample_mean - population_mean)/standard_error
z_score

2.5

In [11]:
alpha = 0.05 #alpha means significance level

In [13]:
from scipy import stats
z_critical = stats.norm.ppf(1-alpha)
z_critical

1.6448536269514722

In [14]:
z_score , z_critical

(2.5, 1.6448536269514722)

In [ ]:
Since z_score>z_critical, we will reject NULL hypothesis. This means the alternate hypothesis becomes true.